I want to generate tendo posts as quickly and easily as possible

Taking as few parameters from the user as possible, the tool should:
	1. Create the markdown (post) file, with the correct title
	2. Fill in the post's title and description based on my arguments
	3. Upload the podcast asset to AWS or Azure (and make sure the file is linked in the markdown for the RSS)
  4. (OPTIONAL) Get stitcher embedded in the post

